html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  width: 90%;
}

.ml-banner {
  background-color: #03a9f4;
  background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
  background: linear-gradient(145deg,#0D47A1,#42A5F5);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 3em;
  padding-bottom: 2em;

  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }
}

.ml-logo {
  font-weight: 400;
  font-size: 40px;
  float: none;
  margin-bottom: 0.4em;
  display: block;

  span {
    font-weight: 500;
  }
}

.ml-course-banner {
  border: 5px solid #f2f2f2;
  margin-bottom: 1em;
}

.site-header {
  h1 {
    float: none;
  }
}

.ml-tagline {
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  margin-top: -0.5em;
  margin-left: 2.7em;

  &.dark {
    color: #333;
  }
}

.ml-nav {
  a {
    text-decoration: none;
    box-shadow: none;
    vertical-align: initial;
  }
}

.repo-list-item {
  padding-top: 0;
}

.copyright {
  span {
    font-weight: 500;
  }
}

.collection-head {
  background: -webkit-linear-gradient(305deg,#0D47A1,#42A5F5);
  background: linear-gradient(145deg,#0D47A1,#42A5F5);
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 3em;
  padding-bottom: 2em;

  .collection-header {
    line-height: 1.2;
  }
}

.markdown-body {
  font-size: 18px;
  h3 {
    line-height: 1.2;
  }
}

@media (min-width: 650px) {
  .site-header {
    padding-top: 40px;
  }

  .ml-logo {
    font-size: 45px;
    height: 40px;
    width: initial;
  }

  .ml-tagline {
    margin-left: 3.7em;
  }

  .ml-banner {
    padding-top: 4em;
    padding-bottom: 3em;
  }

  .ml-nav {
    margin-top: -4em;
    float: right;
  }
}

.highlight {
  .gutter {
    display: none;
  }

  .code {
    border: none;
  }
}

.markdown-body table tr {
  border: none;
}
