<section class="container">
    <div class="columns">
        <div class="column <%if (page.toc == undefined ? true:page.toc) {%> three-fourths <%} else {%> single-column <%}%>" >
          <article class="article-content markdown-body">
              <a href="https://course.machinelabs.ai" title="MachineLabs Jump Start"><img class="ml-logo" style="width: 100%; height: initial;"src="/images/ml-course-ad.png" alt="MachineLabs course ad"></a>
              <%- post.content %>
          </article>
        </div>
        <div class="column one-fourth">
            <% if (page.toc == undefined ? true:page.toc) { %>
                <%page.toc=true%>
                <%- partial('_partial/post/toc') %>
            <% } %>
        </div>
    </div>
</section>
