<section class="banner-false">
    <div class="collection-head">
        <div class="container">
            <div class="collection-title">
                <h1 class="collection-header" id="site-description">
                    <%-config.description%>
                </h1>
            </div>
        </div>
    </div>
</section>
